# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
.env
.pytest_cache/
.coverage
htmlcov/

# Databases
*.db
*.sqlite3

# Application Specific
songs/
logs/

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db